@principalFont: Roboto, sans-serif;
@titleFont: Lobster, cursive;
@textColor: #dfe4ea;
@backGroundColor: #5352ed;
@backGroundColorButton: #ff6b81;
@textColorButton: #2f3542;


body {
    background-color: @backGroundColor;
    font-family: @principalFont;
    color: @textColor;
}

h1 {
    font-family: @titleFont;
    font-size: 3em;
}

main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}

button {
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 16px;
    border-radius: 5px;
    background-color: @backGroundColorButton ;
    color: @textColorButton;
    font-family: @principalFont;
}

input {
    display: block;
    margin: 16px auto 0;
    font-size: 2em;
    max-width: 120px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: @textColor;
    border-bottom: 6px solid @textColor;
}

.resultado {
    padding: 16px;
    margin-top: 120px;
    border: 8px dotted @textColor;
    display: none;
    
    span {
        font-weight: bold;
        font-size: 3em;
        display: block;
    }
}